<html>
    <head>
        <link rel="stylesheet" href="sample.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- 下記の記述でVue.jsをインポートしている -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="app">
            <!-- v-model="name"で、Vue.jsで設定したdateとHTMLのinput要素が同期する -->
            名前：<input v-model="name">
            コース：<input v-model="course">
            受講期：<input v-model="acceptancePeriod">
            <br>
            <!-- button v-on:click="addStudent"で、buttonがclickされた時に起動するメソッドを選択する -->
            <button v-on:click="addStudent">入力した生徒を追加する</button>

            <ul>
                <!-- v-for="student in students" で、配列studentsを一つ一つ切り出して変数studentに代入している -->
                <!-- v-bind:key="student.id"は、切り出された各要素の一意性を確保するために使う -->
                <li v-for="student in students" v-bind:key="student.id">
                    <!-- {{ }} のなかに書いた記述で、Vue.jsのデータの式展開が行える -->
                    ID {{student.id}} /
                    名前 {{student.name}} /
                    コース {{student.course}} /
                    受講期 {{student.acceptancePeriod}}
                </li>
            </ul>
        </div>

        <script src="sample.js"></script>
    </body>
</html>